@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500&family=Raleway:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .unfollow{
        background-color: #AFDBF5;
        border-color: #1034A6;
        border-width: 2px;
        box-shadow: none;
        color: #1034A6;
    }
}